{% extends 'PortalAdminBundle::layout.html.twig' %}
{% block head %}
{{ parent() }}
	<script src="/assets/portalauth/js/ckeditor/ckeditor.js" type="text/javascript"></script>
	<script src="/assets/portalauth/js/ckfinder/ckfinder.js" type="text/javascript"></script>
    <script>
    	$(function (){
    		$('#lang').change(function () {
    			$(this).closest('form').submit();
    	    });
    		$('#chk_homepage').change(function(){
    			if ($(this).is(':checked')){
    				$('#home-position').removeAttr('disabled');
        			}
    			else{
   					$('#home-position').attr('disabled', 'disabled');
        			}
    	    });
    		$('#chk_section').change(function(){
    			if ($(this).is(':checked')){
    				$('#section-position').removeAttr('disabled');
    				$('#section_type').removeAttr('disabled');
    				$('#sectionId').removeAttr('disabled');
    				$('#sections').removeAttr('disabled');
        			}
    			else{
   					$('#section-position').attr('disabled', 'disabled');
   					$('#section_type').attr('disabled', 'disabled');
   					$('#sectionId').attr('disabled', 'disabled');
   					$('#sections').attr('disabled', 'disabled');
        			}
    	    });
    		$('#section_type').change(function () {
    			$('#action').val('change');
    			$('#brief').val(getBrief());
    			$(this).closest('form').submit();
    	    });
    		$('#section_link_type').change(function () {
    			$('#action').val('change');
    			$('#brief').val(getBrief());
    			$(this).closest('form').submit();
    	    });
    		$('#section').change(function () {
    			if($('#section').val()==-2){
        			
    				$('#link_to').removeAttr('disabled');
        			}
    			else{
    					$('#link_to').attr('disabled', 'disabled');
        			}
    	    });
    	    $('#menu-showhide').click(function () {
    	    	window.location.href = $(this).attr('href') + '?lang='+$('#lang').val();
    	    	return false;
    	    });	
    	    $('#cmd-close').click(function () {
    	    	window.location.href = $(this).attr('href') + '?&lang='+$('#lang').val();
    	    	return false;
    	    });	
    	    $('#cmd-save').click(function () {
    	    	
    	    	Save();
    	    	return false;
    	    });	
			$('#cmd-save2').click(function () {
    	    	
    	    	Save();
    	    	return false;
    	    });	
            // choose either the full version
            $(".multiselect").multiSelect();
            // or disable some features
            $(".multiselect").multiSelect({ sortable: false, searchable: false });

            $( "#publish_date" ).datepicker();
            $( "#expired_date" ).datepicker();
           
    	});
    	function Save()
    	{
        	
    		$('#action').val('save');

			//get sections
			var multipleValues = $("#sections").val() || [];
			$('#subsection_ids').val("");
			if (multipleValues.length > 0)
			{
				$('#subsection_ids').val(","+multipleValues.join(",")+",");

			}
			//get image
			
			$('#imgs').val($('#flash1').val()+","+$('#flash2').val());
			//alert($('#flash1').val()+","+$('#flash2').val());
			$('#brief').val(getBrief());

	    	$('#btnsubmit').click();
	    	
       	}
    	// Call back from CKFinder
    	function BrowseServerIS(functionName)
    	{
    	   // You can use the "CKFinder" class to render CKFinder in a page:
    	   var finder = new CKFinder();
    	   // The path for the installation of CKFinder (default = "/ckfinder/").
    	   finder.BasePath = '/auth/media/fileManager/popup?Type=Images';
    	   // Name of a function which is called when a file is selected in CKFinder.
    	   finder.selectActionFunction = functionName;
    	   // Launch CKFinder
    	   finder.popup();
    	}
    	
    	// InnovaStudio WYSIWYG Editor version
    	function SetImage1(fileUrl, data)
    	{
    		//$('#img1').attr('src',fileUrl);
    		switch(getExtension(fileUrl)) {
    			case 'jpg': case 'gif': case 'png':
    				$('#img1').html("<img style='float:left;' src='"+fileUrl+"'/>");
    				break;
    			case 'swf':
    				$('#img1').html("<embed src='"+fileUrl+"' pluginspage='http://www.macromedia.com/go/getflashplayer' wmode='transparent' type='application/x-shockwave-flash'>");
    				break;
    		}
    		
    		$('#flash1').val(fileUrl);
    	}
    	function SetImage2(fileUrl, data)
    	{
    		switch(getExtension(fileUrl)) {
			case 'jpg': case 'gif': case 'png':
				$('#img2').html("<img style='float:left;' src='"+fileUrl+"'/>");
				break;
			case 'swf':
				$('#img2').html("<embed src='"+fileUrl+"' pluginspage='http://www.macromedia.com/go/getflashplayer' wmode='transparent' type='application/x-shockwave-flash'>");
				break;
			}
    		$('#flash2').val(fileUrl);
    	}
    	function getExtension(filename) {
    	    return filename.split('.').pop().toLowerCase();
    	}
    </script>
{% endblock %}
{% block content %}

            <div id="p-toolbox" class="p-box">
                <div class="p-box-bottom">
                <div class="p-box-top clearfix">                    
                    <ul id="p-commands">
                    	<li><a id = "cmd-save" href="/auth/advert/add"> {{"Save"|trans}}</a></li>
                		<li><a id = "cmd-close" href="/auth/advert"> {{"Close"|trans}}</a></li>
                    </ul>
                    <div class="p-module-title">
                        <a id="menu-showhide" href="/auth/">{{ "Main Menu"|trans }}</a><h1>{{ "Add Advertising"|trans }}</h1></h1>
                    </div>
                </div><!-- enddiv: #p-box-top -->
                </div><!-- enddiv: #p-box-bottom -->
            </div><!-- enddiv: #p-toolbox -->

            <div id="Div1" class="p-box p-box-space">
                <div class="p-box-bottom">
                <div class="p-box-top clearfix"> 
                <ul class="error">
            	{% for error in errors %}
            		<li> {{ error }}</li>
            	{% endfor %}
            	</ul>
                <form method="post" name='frm_advertAdd' action="">
					<input type="hidden" name='action' id='action' value='{{ action|default("add") }}'>
					<input type="hidden" name='action_id' id='action_id' value='{{ action|default(0) }}'>
					<input type="hidden" name='brief' id='brief'>                   
					<input type="hidden" name='subsection_ids' id='subsection_ids'>
					<input type="hidden" name='imgs' id='imgs'>
					<input type="hidden" name='flash1' id='flash1' value="/assets/portalauth/images/noimage.jpg">
					<input type="hidden" name='flash2' id='flash2' value="/assets/portalauth/images/noimage.jpg">
                    <table class="p-insert">                        
                       <tr>
							<td  style="width: 150px;">
								{{ "Language"|trans }}
							</td>
							<td>
								<select id="lang" name="lang"  style="width:200px" >
								{% for l in langs %}
									<option value="{{l.code}}" {% if l.code == lang %}selected="selected" {% endif %} >{{l.title}}</option>
								{% endfor %}
								</select>
								<span>{{ "Type" | trans }}</span>
								{% include "PortalAdminBundle:Advert:type.html.twig" %}
							</td>
						</tr>
						<tr>
							<td  style="width: 150px;">
								<span>{{ "Customer"|trans }}</span>
							</td>
							<td>
								<select id="customer" name="customer"  style="width:200px" >
								{% for cus in customers %}
									<option value="{{ cus.id }}" {% if customer|default(1) == cus.id %}selected="selected" {% endif %}>{{ cus.name }}</option>
								{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
                            <td><span>{{ "Publish Date"|trans }}</span></td>
                            <td>
                            <input id="publish_date" name="publish_date" type="text" value="{%  if (publishDate != null) %} {{ publishDate|date("m/d/Y")  }} {% endif %} " />
                             <span>{{ "Expire Date"|trans }}</span>
                             <input id="expired_date" name="expired_date" type="text" value="{%  if (expireDate != null) %} {{ expireDate|date("m/d/Y")  }} {% endif %} " />
                            </td>
                        </tr>
						<tr>
							<td>
								<span>{{ "Link to"|trans }}</span>
							</td>
							<td>
								<span>{{ "Section type"|trans }}</span>
								<select id="section_link_type" name="section_link_type">
									<option value="1" {% if section_link_type|default(2) == 1 %}selected="selected" {% endif %}>{{ "News" | trans }}</option>
									<option value="2" {% if section_link_type|default(2) == 2 %}selected="selected" {% endif %}>{{ "Place" | trans }}</option>
									<option value="3" {% if section_link_type|default(2) == 3 %}selected="selected" {% endif %}>{{ "Link" | trans }}</option>
									<option value="4" {% if section_link_type|default(2) == 4 %}selected="selected" {% endif %}>{{ "Advertising" | trans }}</option>
									<option value="5" {% if section_link_type|default(2) == 5 %}selected="selected" {% endif %}>{{ "Voting" | trans}}</option>
								</select>
								<select id="section_link_id" name="section_link_id">
									<option value="-2">----{{"Choose" | trans}}---</option>
									{% if(section_link_type==-1)%}<option value="-1">{{"Home" | trans}}</option>{% endif %}
									{% for section in sectionsForLinkTypes %}
										<option value="{{ section.id}}" {% if section_link_type|default(1) == section.id %}selected="selected" {% endif %}>
											{% for d in 1..section.deep %}&nbsp;{% endfor %}{{section.title}}
										</option>
									{% endfor %}
								</select>
								<br/>{{"Or use link below" | trans}}
								<br/>
										<input type="text" id="link_to" name="link_to" style="width:400px" value="{{ link | default("") }}">
							</td>
						</tr>
                        <tr>
							<td>
								{{ "Title"|trans }}
							</td>
							<td>
								<input id="title" name="title"  size="105" value="{{ title|default("") }}" ></input>
							</td>
						</tr>
						
						<tr>
                            <td>{{ "Keywords"|trans}}<br/>({{"separated by"|trans }}";")</td>
                            <td>
                            <input id="keywords" name="keywords" type="text" size="30" value="{{ keywords|default("") }}" />
                            <span>{{ "Tags"|trans}}({{"separated by"|trans }}";")</span>
                            <input id="tags" name="tags" type="text" size="30" value="{{ tags|default("") }}" />
                            
                            </td>
                        </tr>
                        
                        <tr>
                            <td>{{ "View at Home page"|trans }}</td>
                            <td>
                                <input id="chk_homepage" name="chk_homepage" type="checkbox"/>
                                <span>{{ "Position"|trans }}</span>
                                <select id="home-position" name="home-position" disabled="disabled">
									<option value="QA0" {{ homeZone == "QA0"?"selected='selected'": "" }}>{{ "QA0"|trans }}</option>
									<option value="QA1" {{ homeZone == "QA1"?"selected='selected'": "" }}>{{ "QA1"|trans }}</option>
									<option value="QA2" {{ homeZone == "QA2"?"selected='selected'": "" }}>{{ "QA2"|trans }}</option>
									<option value="QA3" {{ homeZone == "QA3"?"selected='selected'": "" }}>{{ "QA3"|trans }}</option>
									<option value="QA4" {{ homeZone == "QA4"?"selected='selected'": "" }}>{{ "QA4"|trans }}</option>
									<option value="QA5" {{ homeZone == "QA5"?"selected='selected'": "" }}>{{ "QA5"|trans }}</option>
									<option value="QA6" {{ homeZone == "QA6"?"selected='selected'": "" }}>{{ "QA6"|trans }}</option>
									<option value="QA7" {{ homeZone == "QA7"?"selected='selected'": "" }}>{{ "QA7"|trans }}</option>
								</select>
                            </td>                            
                        </tr>
                        <tr>
							<td>{{ "Thumnail Images"|trans }}
							</td>
							<td>
								<a onclick="javascript:BrowseServerIS(SetImage1);">
								[{{"Change" | trans}}]
								<div id="img1">
									<img style="float:left;" src="/assets/portalauth/images/noimage.jpg"></img>
								</div>
								</a>
							</td>
						</tr>
                        <tr>
                            <td>{{ "View at Section(s)"|trans }}</td>
                            <td>
                            	<input id="chk_section" name="chk_section" type="checkbox"/>
                            	<span>{{ "Position"|trans }}</span>
                                <select id="section-position" name="section-position" disabled="disabled">
									<option value="QA0" {{ sectionZone == "QA0"?"selected='selected'": "" }}>{{ "QA0"|trans }}</option>
									<option value="QA1" {{ sectionZone == "QA1"?"selected='selected'": "" }}>{{ "QA1"|trans }}</option>
									<option value="QA2" {{ sectionZone == "QA2"?"selected='selected'": "" }}>{{ "QA2"|trans }}</option>
									<option value="QA5" {{ sectionZone == "QA5"?"selected='selected'": "" }}>{{ "QA5"|trans }}</option>
									<option value="QA6" {{ sectionZone == "QA6"?"selected='selected'": "" }}>{{ "QA6"|trans }}</option>
									<option value="QA7" {{ sectionZone == "QA7"?"selected='selected'": "" }}>{{ "QA7"|trans }}</option>
								</select>
                            </td>                            
                        </tr>
                        <tr>
							<td>{{ "Section type"|trans }}</td>
							<td>
								<select id="section_type" name="section_type" disabled="disabled">
									<option value="1" {% if section_type|default(2) == 1 %}selected="selected" {% endif %}>{{ "News" | trans }}</option>
									<option value="2" {% if section_type|default(2) == 2 %}selected="selected" {% endif %}>{{ "Place" | trans }}</option>
									<option value="3" {% if section_type|default(2) == 3 %}selected="selected" {% endif %}>{{ "Link" | trans }}</option>
									<option value="4" {% if section_type|default(2) == 4 %}selected="selected" {% endif %}>{{ "Advertising" | trans }}</option>
									<option value="5" {% if section_type|default(2) == 5 %}selected="selected" {% endif %}>{{ "Voting" | trans}}</option>
								</select>
								<select id="sectionId" name="sectionId" style="width:600px;" disabled="disabled">
								<option value="-1" {% if sectionId == -1 %}selected="selected"{% endif %}>---- {{ "Select section"|trans }} ----</option>
								{% for section in sectionsForTypes %}
									<option value="{{section.id}}" {% if section.id == sectionId %}selected="selected"{% endif %}>{% for i in 1..section.deep-1 if section.deep != 1 %}&nbsp;&nbsp;{% endfor %}{{section.title}}</option>
								{% endfor %}
								</select>
							</td>
						</tr>
                        <tr>
							<td>{{"Others Section"|trans }}
							</td>
							<td>
								<select id="sections" class="multiselect" multiple="multiple" name="sections[]" style="width:670px; height:200px;" >
								{% for section in sectionsForTypes %}
									<option value="{{section.id}}">{% for i in 1..section.deep-1 if section.deep != 1 %}&nbsp;&nbsp;{% endfor %}{{section.title}}</option>
								{% endfor %}
								</select>
							</td>
						</tr>
                       <tr>
							<td>{{ "Thumnail Images"|trans }}
							</td>
							<td>
								<a onclick="javascript:BrowseServerIS(SetImage2);">
								[{{"Change" | trans}}]
								<div id="img2">
									<img style="float:left;" src="/assets/portalauth/images/noimage.jpg"/>
								</div>
								</a>
							</td>
						</tr>
                        <tr>
							<td>
								{{ "Description"|trans }}
							</td>
							<td>
								<textarea id="brief_" name="brief_" style = "width:400px !important; height:100px;">{{ brief|default("") }}</textarea>
								<script type="text/javascript">
										CKEDITOR.replace( 'brief_',
									    {
											filebrowserImageBrowseUrl  : '/auth/media/fileManager/popup?Type=Images',
											filebrowserBrowseUrl :       '/auth/media/fileManager/popup',
											toolbar : 'Compact',
									        height:'200',
									        width: '780'
									    });
										function getBrief(){
											
											var editor = CKEDITOR.instances.brief_;
											return editor.getData();
											
										}
								 </script>
							</td>
						</tr>
                    </table>     
                    <input id="btnsubmit" type="submit" value="{{ "Save"|trans }}" style="display:none"/>               
				</form>
                </div><!-- enddiv: #p-box-top -->
                </div><!-- enddiv: #p-box-bottom -->
            </div><!-- enddiv: #p-content -->

            <div id="p-toolbox2" class="p-box p-box-space">
                <div class="p-box-bottom">
                <div class="p-box-top clearfix">                    
                    <ul id="p-commands2">
                    	<li><a id = "cmd-save2" href="/auth/advert/add"> {{"Save"|trans}}</a></li>
                		<li><a id = "cmd-close2" href="/auth/advert"> {{"Close"|trans}}</a></li>
                    </ul>                    
                </div><!-- enddiv: #p-box-top -->
                </div><!-- enddiv: #p-box-bottom -->
            </div><!-- enddiv: #p-toolbox -->
    
{% if errors != null %}
	<script>
	{% for key in errors|keys %}
		{% if key|lower == 'advert.locale' %}
			$('#lang').addClass('required');
		{% elseif  key|lower == 'advert.title'%}
			$('#title').addClass('required');
		{% elseif key|lower == 'advert.subsections_ids' %}
			$('#sections').addClass('required');
		{% elseif key|lower == 'advert.brief' %}
			$('#brief').addClass('required');			
		{% elseif key|lower == 'advert.content' %}
			$('#content').addClass('required');
		{% elseif key|lower == 'advert.published_at' %}
			$('#publish_date').addClass('required');
		{% endif %}
	{% endfor %}
	</script>
	<style type="text/css">
		
		.required{border-color: red;}
	</style>
{% endif %}	
{% endblock %}	
