{% extends 'AdvertiserBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:600px;">
                <div class="x_title">
                    <h2>Sửa tài khoản</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="">
                        <input type="hidden" name="submit" value="1">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nhóm tài khoản: <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="role_group_id" class="select2_single form-control">
                                    <option value="0" {{ role_group_id == 0 ? 'selected' : '' }}>Không có</option>
                                    {% if role_group is defined %}
                                        {% for g in role_group %}
                                            <option value="{{ g.id }}" {{ role_group_id == g.id ? 'selected' : '' }} >{{ g.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Loại tài khoản:<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="type" class="select2_single form-control">
                                    <option value="customer" {{ customer.type == 'customer' ? 'selected' : '' }}>Quảng cáo</option>
                                    <option value="cafeshop" {{ customer.type == 'cafeshop' ? 'selected' : '' }}>Chủ quán</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tài khoản: <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" name="name" value="{{ params['username'] }}" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng thái: <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="locked" class="select2_single form-control">
                                    <option value="0" {{ params['locked'] == 0 ? 'selected' : '' }}>Kích hoạt</option>
                                    <option value="1" {{ params['locked'] == 1 ? 'selected' : '' }}>Khóa</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email: <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" class="form-control" name="email" value="{{ params['email'] }}" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" name="name" value="{{ params['name'] }}"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Số điện thoại:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" name="phone" value="{{ params['phone'] }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Công ty:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" name="company" value="{{ params['company'] }}" />
                            </div>
                        </div>
                        {% if params['customer_type'] == 'cafeshop' %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Các Accesspoint:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" name="user_accesspoint" value="{{ params['user_accesspoint'] }}" />
                            </div>
                        </div>
                        {% endif %}
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Xác nhận</button>
                                <a style="float: right;" href="{{ path('advertiser_user_resetpass')~'/'~params['id']  }}" type="submit" class="btn btn-primary">Reset Mật khẩu</a>
                            </div>
                           
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}