<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bundles/advertiser/assets/css/dedicated-ap.css" />
    <script src="/bundles/advertiser/assets/js/jquery-1.11.0.min.js"></script>
    {% if linkTo is not empty %}
        <meta http-equiv="refresh" content="0;url={{ linkTo }}">
    {% endif %}
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="wrap_connect" style="height: 1000px!important;background-color: white">
            <a href="http://gosu.vn">
                <img class="full-img" src="/media/images/nhnhat/gosu-login-success.jpg"/>
            </a>
        </div>
        <div style="display: none">
            <form class="login-form" novalidate="novalidate" id='login_frm' name='login_frm' method='post' action='{{params['loginpath']}}'>
                <input type='hidden' name='called' value='{{params['called']}}'>
                <input type='hidden' name='mac' value='{{params['mac']}}'>
                <input type='hidden' name='challenge' value='{{params['challenge']}}'>
                <input type='hidden' name='uamip' value='{{params['uamip']}}'>
                <input type='hidden' name='ip' value='{{params['ip']}}'>
                <input type='hidden' name='uamport' value='{{params['uamport']}}'>
                <input type='hidden' id="userurl" name='userurl' value='{{params['userurl']|url_encode}}'>
                <input type='hidden' id='advertId' name='advertId' value='-1'>
                <input type='hidden' name='button' value='Free Internet'>
            </form>
            <li><img src="/ap/track_login.html?called={{ params['called'] }}&mac={{ params['mac'] }}&challenge={{ params['challenge'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}"/></li>
        </div>
    </div>
</div>
</body>
</html>