<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/bundles/advertiser/matrix/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/bundles/advertiser/assets/css/demo11.css" />
    <script type="text/javascript" src="https://campaigns-assets-vp.daumcdn.net/websdk/vp-latest.min.js"></script>
    <script>
        function Login(value)
        {
            $('#advertId').val(value);
            $( "#login_frm" ).submit();
        }
    </script>
</head>
<body>
<div class="container">
    <div class="screen">
        <header>
            <div class="head">
                {% if params['apName'] is not empty %}
                    {% if params['apImage'] is not empty %}
                        <a href="javascript:Login('-2');">
                            <img src="{{ params['apImage'] }}" alt="{{ params['apName'] }}">
                        </a>
                    {% else %}
                        <a href="javascript:Login('-2');">
                            <h3>{{ params['apName'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div class="logo_wiads">
                                <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                            </div>

                            <img src="/bundles/advertiser/assets/img/banner_640x152.jpg" alt="640x152">
                        </a>
                    {% endif %}
                {% else %}
                    <a href="javascript:Login('-2');">
                        <div class="logo_wiads">
                            <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                        </div>
                        <img src="/bundles/advertiser/assets/img/banner_640x152.jpg" alt="640x152">
                    </a>
                {% endif %}
            </div>
        </header>
        <div class="wrap_connect">
            <div id="ads"></div>
            <div id="ads2"></div>
        </div>

        <div class="wrap_button" style="margin-top: 0px;">
            <div class="button_login">
                <a href="javascript:Login('195');">
                    Login
                </a>
                <img src="/ap/display.html?id={{ ads['QAF_VLP'].id }}&link={{ ads['QAF_VLP'].linkTo | url_encode}}&position=QAF_VLP&called={{ params['called'] }}&mac={{ params['mac'] }}&uamip={{ params['uamip'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}" alt="BANNER">
            </div>
        </div>
        <div style="display: none">
            <form class="login-form" novalidate="novalidate" id='login_frm' name='login_frm' method='post' action='{{params['loginpath']}}'>
                <input type='hidden' name='called' value='{{params['called']}}'>
                <input type='hidden' name='mac' value='{{params['mac']}}'>
                <input type='hidden' name='challenge' value='{{params['challenge']}}'>
                <input type='hidden' name='uamip' value='{{params['uamip']}}'>
                <input type='hidden' name='ip' value='{{params['ip']}}'>
                <input type='hidden' name='uamport' value='{{params['uamport']}}'>
                <input type='hidden' id="userurl" name='userurl' value='{{params['userurl']|url_encode}}'>
                <input type='hidden' id='advertId' name='advertId' value='-1'>
                <input type='hidden' name='button' value='Free Internet'>
            </form>
            <li><img src="/ap/track_login.html?called={{ params['called'] }}&mac={{ params['mac'] }}&challenge={{ params['challenge'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}"/></li>
        </div>
    </div>
</div>
<style type="text/css">
    iframe {
        margin: 0 auto !important;
    }
    .container{
        height: auto !important;
    }
</style>
<script type="text/javascript">
    VP.init({
        clientId: "fa2ed2e05dcbcaf9cfb8c0c41f3f63b3"
    });
    var opts = {
        callback: function (filled) {
            if (filled) {
                console.log("ad loaded");
            } else {
                console.log("no ad");
            }
        },
        textAdStyle: {
            "color": "red",
            "font-size": "28px",
            "font-weight": "bold"
        }
    }
    VP.ad('ads', 'ads', 300, 250, opts);
    VP.ad('ads2', 'ads2', 300, 250, opts);
</script>
</body>
</html>