<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href='/bundles/advertiser/assets/css/wifi_login_fullscreen.css' />
    <script src="/bundles/advertiser/assets/js/jquery-1.11.0.min.js"></script>
    <script>
        function Login(value)
        {
            $('#advertId').val(value);
            $( "#login_frm" ).submit();
        }
    </script>
    <style type="text/css">
        .centerImage
        {
            text-align:center;
            display:block;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="wrap_connect">
            <a href="javascript:Login('{{ ads['QAF_v4'].Id }}');">
                <img src="/ap/display.html?id={{ ads['QAF_v4'].id }}&link={{ ads['QAF_v4'].linkTo | url_encode}}&position=QAF_v4&called={{ params['called'] }}&mac={{ params['mac'] }}&uamip={{ params['uamip'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}" alt="BANNER NEN">
            </a>
            <div class="head">
                <!--
                {% if params['apName'] is not empty %}
                    {% if params['apImage'] is not empty %}
                        <a href="javascript:Login('-2');">

                            <h3>{{ params['apName'] }}</h3>

                            <img src="{{ params['apImage'] }}" alt="{{ params['apName'] }}">
                        </a>
                    {% else %}
                        <a href="javascript:Login('-2');">

                            <h3>{{ params['apName'] }}</h3>

                            <div class="logo_wiads">
                                <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                            </div>
                            <img src="/bundles/advertiser/assets/img/banner_640x152.jpg" alt="640x152">
                        </a>
                    {% endif %}
                {% else %}
                    <a href="javascript:Login('-2');">
                        <div class="logo_wiads">
                            <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                        </div>
                        <img src="/bundles/advertiser/assets/img/banner_640x152.jpg" alt="640x152">
                    </a>
                {% endif %}
                -->
            </div>
            <!--
            <div class="wrap_text">
                <div class="text">
                    <p>Mua 2 doi giay <font color="red">tang</font> 1 doi giay bat ky</p>
                </div>
            </div>
            -->
            <div class="wrap_button">
                <div class="button_login">
                    <a href="javascript:Login('-1');">
                        Login
                    </a>
                </div>
            </div>

            <div class="footer">
                <p>Cảm ơn bạn đã sử dụng dịch vụ WiAds</p>
                <a href="#">www.wiads.vn</a>
            </div>

        </div>
    </div>
</div>
<form class="login-form" novalidate="novalidate" id='login_frm' name='login_frm' method='post' action='{{params['loginpath']}}'>
    <input type='hidden' name='called' value='{{params['called']}}'>
    <input type='hidden' name='mac' value='{{params['mac']}}'>
    <input type='hidden' name='challenge' value='{{params['challenge']}}'>
    <input type='hidden' name='uamip' value='{{params['uamip']}}'>
    <input type='hidden' name='ip' value='{{params['ip']}}'>
    <input type='hidden' name='uamport' value='{{params['uamport']}}'>
    <input type='hidden' name='userurl' value='{{params['userurl']|url_encode}}'>
    <input type='hidden' id='advertId' name='advertId' value='-1'>
    <input type='hidden' name='button' value='Free Internet'>
    <img src="/ap/track_login.html?called={{ params['called'] }}&mac={{ params['mac'] }}&challenge={{ params['challenge'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}"/>
</form>
</body>
</html>