<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>LOGIN</title>
    <link rel="stylesheet" media="screen" href="/bundles/hotspotaccesspoint/v6/styles/vendor.css">
    <link rel="stylesheet" media="screen" href="/bundles/hotspotaccesspoint/v6/styles/main_n1_01.css">
    <link rel="stylesheet" media="screen" href="/bundles/hotspotaccesspoint/v6/styles/responsive_n1_01.css">
    <script>
        function Login(value)
        {
            $('#advertId').val(value);
            $( "#login_frm" ).submit();
        }

        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = true;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
        ga( 'create', 'UA-112383743-1', 'auto' );
        ga( 'send', 'pageview' );
    </script>
</head>

<body>
<div class="container-wrap login-n1">
    <main class="wrapper">
        <div class="content">
            <div class="content-top">
                <div class="owl-carousel owl-theme owl-login-n1">
                    {% if params['apImage'] is not empty %}
                        <div class="item">
                            <a>
                                <img src="{{ params['apImage'] is not empty?params['apImage']:'/bundles/hotspotaccesspoint/v6/images/login_n1_slide_img_1.jpg'}}" alt="">
                            </a>
                        </div>
                        {% if ads is not empty %}
                            <div class="item">
                                <a href="javascript:goLink('{{ linkTo is not empty?linkTo:ads[0].linkTo~"?called="~params['called']~"&mac="~params['mac']~"&ip="~params['ip']}}')" target="_blank">
                                    <img src="/ap/display2.html?id={{ ads[0].Id }}&link={{ ads[0].linkTo | url_encode}}?called={{ params['called'] }}&mac={{ params['mac'] }}&uamip={{ params['uamip'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if ads is not empty %}
                            <div class="item">
                                <a href="javascript:goLink('{{ linkTo is not empty?linkTo:ads[0].linkTo~"?called="~params['called']~"&mac="~params['mac']~"&ip="~params['ip']}}')" target="_blank">
                                    <img src="/ap/display2.html?id={{ ads[0].Id }}&link={{ ads[0].linkTo | url_encode}}?called={{ params['called'] }}&mac={{ params['mac'] }}&uamip={{ params['uamip'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                        <div class="item">
                            <a>
                                <img src="{{ params['apImage'] is not empty?params['apImage']:'/bundles/hotspotaccesspoint/v6/images/login_n1_slide_img_1.jpg'}}" alt="">
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="content-bottom">
                <a id="btn-facebook" href="javascript:sub_face('-1');" class="btn-connect-fb">Tiếp tục với Facebook</a>
                {% if params['apDetailUrl'] is not empty %}
                    <a id="btn-normal" href="javascript:goLink('{{ params['apDetailUrl'] }}');ga('send', 'event', 'button quick', 'clickBtnQuickNoAds', 'no ads');" class="btn-connect-normal">Truy cập ngay (Tốc độ thấp)</a>
                {% elseif ads is not empty %}
                    <a id="btn-normal" href="javascript:goLink('{{ linkTo is not empty?linkTo:ads[0].linkTo~"?called="~params['called']~"&mac="~params['mac']~"&ip="~params['ip']}}');ga('send', 'event', 'button quick', 'clickBtnQuickAds', '{{ ads[0].Id }}');" class="btn-connect-normal">Truy cập ngay (Tốc độ thấp)</a>
                {% endif %}
                <p class="text-copyright">Powered by Wiads.vn, Liên hệ QC : wiadsjsc@gmail.com</p>
                {#<a class="btn-login" href="javascript:sub_face('-1');" title="login-with-facebook"><img src="/bundles/hotspotaccesspoint/v6/images/login-facebook-button.svg" alt=""></a>#}
            </div>
        </div>
    </main>
    <div style="display: none">
        <form class="login-form" novalidate="novalidate" id='login_frm' name='login_frm' method='post' action='{{params['loginpath']}}'>
            <input type='hidden' name='called' value='{{params['called']}}'>
            <input type='hidden' name='mac' value='{{params['mac']}}'>
            <input type='hidden' name='challenge' value='{{params['challenge']}}'>
            <input type='hidden' name='uamip' value='{{params['uamip']}}'>
            <input type='hidden' name='ip' value='{{params['ip']}}'>
            <input type='hidden' name='uamport' value='{{params['uamport']}}'>
            <input type='hidden' name='userurl' value='{{params['userurl']|url_encode}}'>
            <input type='hidden' id='advertId' name='advertId' value='-1'>
            <input type='hidden' id='fb-status' name='fb-status' value='0'>
            <input type='hidden' name='button' value='Free Internet'>
        </form>
        <li><img src="/ap/track_login.html?called={{ params['called'] }}&mac={{ params['mac'] }}&challenge={{ params['challenge'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}"/></li>
    </div>
</div>

<!-- SCRIPTS -->
<script src="/bundles/hotspotaccesspoint/v6/scripts/jquery.min.js"></script>
<script src="/bundles/hotspotaccesspoint/v6/scripts/vendor.js"></script>
<script src="/bundles/hotspotaccesspoint/v6/scripts/app_n1_01.js"></script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1170851923040308',
            xfbml      : true,
            cookie     : true,
            version    : 'v2.8'
        });
        /*FB.getLoginStatus(function(response) {
         statusChangeCallback(response);
         });*/
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                console.log('Facebook connected.');
                loginSuccess('-1');
                $('#btn-facebook').html('Share & Post Facebook');
                $('#fb-status').val('1');
            } else {
                console.log('You are not logged into Facebook.');
                $('#btn-facebook').html('Tiếp tục với Facebook');
                $('#fb-status').val('0');
            }
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    function sub_face(value){
        if ($('#fb-status').val() == '0') {
            FB.login(function (response) {
                if (response.authResponse) {
//                    share_face();
                    loginSuccess(value);
                    $('#btn-facebook').html('Share & Post Facebook');
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, {
                scope: 'email'
            });
        } else {
            share_face();
        }
    }
    function share_face() {
        FB.ui({
            method: 'share',
            href: '{{ params['apDetailUrl'] }}'
        }, function(response){
            if (response) {
                $('#btn-facebook').html('Kết nối thành công');
                $('#btn-normal').hide();
                ga('send', 'event', 'share facebook', 'shareSuccess', 'shareSuccess');
                goLink('{{ params['apDetailUrl'] }}', 1); //Ko mo sang trang moi mà mở ở hiện tại
            }
        });
    }
    function loginSuccess(value) {
        FB.api('/me?fields=id,name,email,picture', function(response) {
            var uid     = response.id;
            var name    = response.name;
            var email   = response.email;
//            console.log('UID:' +uid);
//            console.log('NAME:' +name);
//            console.log('EMAIL:' +email);
//            console.log('INFO:', +response);
            ga('send', 'event', 'login facebook', 'loginFacebookSuccess', uid);
            $.ajax({
                type : 'POST',
                url : "{{ path('advertiser_saverequest_userlogin') }}",
                //dataType : 'json',
                data: {
                    type:'facebook',uid:uid, name:name, email:email, phone:'', address:'', mac: "{{params['called']}}"
                },
                success : function(data){
//                    console.log('advertiser_saverequest_userlogin : ' + data);
                    if(data.status == 1){

                    }

                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {}
            });
        });
    }

    function goLink(link, noBlank) {
        setTimeout (function () {
            if (!link.startsWith('http')) {
                link = 'http://enter.wiads.vn' + link;
            }
            var A = document.createElement ("a")
            A.setAttribute ("href", link);
            if (noBlank != 1) {
                A.setAttribute("target", "_blank");
            }
            var Body = document.getElementsByTagName ("body");
            if (Body.length > 0) {
                Body = Body [0];
            } else {
                Body = document.createElement ("body");
                document.getElementsByTagName ("html") [0].appendChild (Body);
            }
            Body.appendChild (A);
            A.click ();
            if (noBlank != 1) {
                window.document.title = 'Kết nối thành công';
                window.document.write('Bạn đã có thể dùng Internet');
            }
        }, 500)
    }
</script>
</body>
</html>