<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bundles/advertiser/assets/css/demo15.css" />
    <script src="/bundles/advertiser/assets/js/jquery-1.11.0.min.js"></script>
    <script>
        function Login(value)
        {
            //$('#advertId').val(value);
            //$( "#login_frm" ).submit();
        }

    </script>
</head>
<body>
<div class="container">
    <div class="screen">
        <header>
            <div class="head">
                {% if params['apName'] is not empty %}
                    {% if params['apImage'] is not empty %}
                        <a href="javascript:void(0);">
                            <!--
                            <h3>{{ params['apName'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            -->
                            <img src="{{ params['apImage'] }}" alt="{{ params['apName'] }}">
                        </a>
                    {% else %}
                        <a href="javascript:void(0);">
                            <h3>{{ params['apName'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div class="logo_wiads">
                                <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                            </div>
                            <!--
                            <div class="logo_accesspoint" style="background: url('/bundles/advertiser/assets/img/logo_accesspoint.png') no-repeat center center / auto 100%"></div>
                            -->
                            <img src="/bundles/advertiser/assets/img/banner_640x152.jpg" alt="640x152">
                        </a>
                    {% endif %}
                {% else %}
                    <a href="javascript:void(0);">
                        <div class="logo_wiads">
                            <img src="/bundles/advertiser/assets/img/logo_wiads.png" alt="LOGO WIADS">
                        </div>
                        <!--
                        <div class="logo_accesspoint" style="background: url('/bundles/advertiser/assets/img/logo_accesspoint.png') no-repeat center center / auto 100%"></div>
                        -->
                        <img src="/bundles/advertiser/assets/img/banner_640x152.jpg" alt="640x152">
                    </a>
                {% endif %}
            </div>
        </header>
        <div class="wrap_connect">
            {% if ads['QAF_v4'] is not empty %}
                <a href="javascript:void(0);">
                    <img src="/ap/display.html?id={{ ads['QAF_v4'].id }}&link={{ ads['QAF_v4'].linkTo | url_encode}}&position=QAF_v4&called={{ params['called'] }}&mac={{ params['mac'] }}&uamip={{ params['uamip'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}" alt="BANNER">
                </a>
            {% else %}
                <img src="/bundles/advertiser/assets/img/QAF_v4_640x717.jpg">
            {% endif %}

            <div class="wrap_text">
                <!-- <div class="text">
                    <p>Mua 2 doi giay <font color="#fcb017">tang</font> 1 doi giay bat ky</p>
                </div> -->
                <div class="form_info hide" id="form_info">
                    <form id="login_1" >
                        <div class="row">
                            <label>Họ và tên:</label>
                            <input type="text" name="name" id="name" >
                        </div>
                        <div class="row">
                            <label>Email:</label>
                            <input type="text" name="email" id="email" >
                        </div>
                        <div class="row">
                            <label>Số điện thoại:</label>
                            <input type="text" name="phone" id="phone" >
                        </div>
                        <div class="row">
                            <label>Địa chỉ:</label>
                            <input type="text" name="address" id="address" >
                        </div>
                        <!--  <div class="row">
                           <a class="btn sub_form" onclick="sub_form('{{ ads['QAF_v4'] is not empty?ads['QAF_v4'].id:'-1' }}');">Login</a>
                       </div>
                       <div class="row">
                           <p class="or">Hoặc</p>
                       </div>
                       <div class="row">
                           <a class="btn sub_face" onclick="sub_face('{{ ads['QAF_v4'] is not empty?ads['QAF_v4'].id:'-1' }}');">Facebook</a>
                       </div> -->
                    </form>
                </div>
            </div>

        </div>
        <div class="wrap_button">
            <!--
            <span>263 Nguyễn Chí Thanh - Hotline: 05113.616.659</span>
            -->
            <!--  <div class="button_login">
               {% if ads['QAF_v4'] is not empty %}
                   <a href="javascript:Login('{{ ads['QAF_v4'].id }}');">
                       Login
                   </a>
               {% else %}
                   <a href="javascript:Login('-1');">
                       Login
                   </a>
               {% endif %}
           </div> -->
            <div class="button_login">
                <a class="btn sub_face" onclick="sub_face('{{ ads['QAF_v4'] is not empty?ads['QAF_v4'].id:'-1' }}');" style=""> Đăng nhập bằng Facebook</a>
                <a class="btn sub_form" onclick="sub_form('{{ ads['QAF_v4'] is not empty?ads['QAF_v4'].id:'-1' }}');" style="">Đăng nhập bằng Email</a>
                <a class="btn sub_next hide" onclick="sub_next('{{ ads['QAF_v4'] is not empty?ads['QAF_v4'].id:'-1' }}');">
                    Login
                </a>
            </div>
        </div>
        <div style="display: none">
            <form class="login-form" novalidate="novalidate" id='login_frm' name='login_frm' method='post' action='{{params['loginpath']}}'>
                <input type='hidden' name='called' value='{{params['called']}}'>
                <input type='hidden' name='mac' value='{{params['mac']}}'>
                <input type='hidden' name='challenge' value='{{params['challenge']}}'>
                <input type='hidden' name='uamip' value='{{params['uamip']}}'>
                <input type='hidden' name='ip' value='{{params['ip']}}'>
                <input type='hidden' name='uamport' value='{{params['uamport']}}'>
                <input type='hidden' name='userurl' value='{{params['userurl']|url_encode}}'>
                <input type='hidden' id='advertId' name='advertId' value='-1'>
                <input type='hidden' name='button' value='Free Internet'>
            </form>
            <li><img src="/ap/track_login.html?called={{ params['called'] }}&mac={{ params['mac'] }}&challenge={{ params['challenge'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}"/></li>
        </div>
    </div>
</div>
</body>
</html>
<script>

    function sub_form(value){

        $('#form_info').removeClass('hide');

        $('.sub_face').css('display', 'none');
        $('.sub_form').css('display', 'none');
        $('.sub_next').removeClass('hide');

    }

    function sub_next(value){
        var name = $('#login_1 #name').val();
        var email = $('#login_1 #email').val();
        var phone = $('#login_1 #phone').val();
        var address = $('#login_1 #address').val();

        var email_regex = /^([a-zA-Z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
        var phone_regex = /^[0-9]+$/;

        if(name == ''){
            alert('Vui lòng nhập tên để kết nối mạng!');
            $("#name").focus();
            return;
        }
        if(!email_regex.test(email) || email == "") {
            alert('Vui lòng nhập đúng email để kết nối mạng!');
            $("#email").focus();
            return;
        }
        if (!phone.match(phone_regex)){
            alert('Vui lòng nhập số điện thoại để kết nối mạng!');
            $("#phone").focus();
            return;
        }
        if(address == ''){
            alert('Vui lòng nhập địa chỉ để kết nối mạng!');
            $("#address").focus();
            return;
        }

        $.ajax({
            type : 'POST',
            url : "{{ path('advertiser_saverequest_userlogin') }}",
            //dataType : 'json',
            data: {
                type:'form', name:name, email:email, phone:phone, address:address, mac: "{{params['called']}}"
            },
            success : function(data){
                if(data.status == 1){

                }

            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {}
        });

        $('#advertId').val(value);
        $( "#login_frm" ).submit();
    }

    function sub_face(value){
        FB.login(function(response) {
            if (response.authResponse) {
                loginSuccess(value);
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {
            scope: 'email'
        });
    }
    function loginSuccess(value) {
        FB.api('/me?fields=id,name,email,picture', function(response) {
            var uid     = response.id;
            var name    = response.name;
            var email   = response.email;
            console.log('UID:' +uid);
            console.log('NAME:' +name);
            console.log('EMAIL:' +email);
            console.log('INFO:', +response);
            $.ajax({
                type : 'POST',
                url : "{{ path('advertiser_saverequest_userlogin') }}",
                //dataType : 'json',
                data: {
                    type:'facebook',uid:uid, name:name, email:email, phone:'', address:'', mac: "{{params['called']}}"
                },
                success : function(data){
                    if(data.status == 1){

                    }

                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {}
            });

            $('#advertId').val(value);
            $( "#login_frm" ).submit();
        });
    }
</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1170851923040308',
            xfbml      : true,
            version    : 'v2.8'
        });
        /*FB.getLoginStatus(function(response) {
         statusChangeCallback(response);
         });*/
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
