<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link rel="stylesheet" href='/bundles/advertiser/assets/css/demo12.css' />
</head>
<body>
<div class="container">
    <div class="screen">
        <header>
            <div class="head">
                    <a href="javascript:void(0)"><p>Kết nối thành công</p></a>
            </div>
        </header>
        <div class="wrap_connect">
            {% if adv is not empty %}
                <a href="{{ adv.link }}" target='_blank'><img src="/ap/display2.html?id={{ adv.Id }}&link={{ adv.link | url_encode}}&position={{ adv.homePosition() }}&called={{ params['called'] }}&mac={{ params['mac'] }}&uamip={{ params['uamip'] }}&ip={{ params['ip'] }}&userurl={{params['userurl']|url_encode}}" alt="BANNER NEN"></a>
            {% else %}
                <img src="/bundles/advertiser/assets/img/bg.png" alt="BANNER">
            {% endif %}
            <!--
            <div class="wrap_button_success">
                <div class="wrap_v">
                    {% if adv is empty %}
                        <span><img src="/bundles/advertiser/assets/img/logo_cafe.png"></span>
                        <p>Giải pháp của Wiads <br>CPC rẻ nhất thị trường</p>
                    {% endif %}

                </div>
            </div>
            -->
        </div>
        <div class="footer">
            {% if adv is empty %}
                <a href="http://wiads.vn" target='_blank'>www.wiads.vn</a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>